.container,
.container-sm {
	width: 100%;
	margin: 0 auto;
	padding-left: get-content-padding(mobile);
	padding-right: get-content-padding(mobile);

	@include media('>small') {
		padding-left: get-content-padding(desktop);
		padding-right: get-content-padding(desktop);
	}
}

.container {
	max-width: $container__width + (get-content-padding(desktop) * 2);
}

.container-sm {
	max-width: $container__width-sm + (get-content-padding(desktop) * 2);
}

.container {

	.container-sm {
		max-width: $container__width-sm;
		padding-left: 0;
		padding-right: 0;
	}
}

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	word-wrap: normal !important;
	/* Many screen reader and browser combinations announce broken words as they would appear visually. */

	&:focus {
		border-radius: 2px;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip: auto !important;
		display: block;

		@if (get-font-family(heading) !=get-font-family(base)) {
			@include font-family(heading);
		}

		@include font-size(8, mobile, true, false, true);

		@if (get-font-size(8, desktop) !=get-font-size(8, mobile)) {
			@include media('>medium') {
				@include font-size(8, desktop, true, false, true);
			}
		}

		@include font-weight(semibold);
		line-height: 16px;
		text-decoration: none;
		text-transform: uppercase;
		background-color: color(bg, 1);
		color: color(primary, 1) !important;
		border: none;
		height: auto;
		left: 8px;
		padding: 16px 32px;
		top: 8px;
		width: auto;
		z-index: 100000;
	}
}

.list-reset {
	list-style: none;
	padding: 0;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-primary {
	color: color(primary, 1);
}

.text-secondary {
	color: color(secondary, 1);
}

.has-top-divider {
	@include divider(before);
}

.has-bottom-divider {
	@include divider(after);
}

.m-0 {
	margin: 0;
}

.mt-0 {
	margin-top: 0;
}

.mr-0 {

	.mb-0 {
		margin-bottom: 0;
	}

	margin-left: 0;
}

/* Reveal animations */
.sr {

	.has-animations {

		.is-revealing {
			visibility: hidden;
		}
	}
}