@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Francois+One|Play');

html, body, section {
  height: 100%;
  margin: 0px;
  padding: 0px;
}
body {
  color: #fff;
  text-align: center;
}
div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.st-container {
  display: flex;
}
div {
  flex-direction: column;
  justify-content: center;
}
 
.st-left {
  background: linear-gradient(rgba(227, 127, 36, 0.8), rgba(227, 127, 36, 0.8)), url("../assets/sublime_docs.png");
  background-size: cover;
  background-position: center;
  flex: 1;
  padding: 1rem;
  transition: all .2s ease-in-out;
  text-transform: uppercase;
}
 
.st-right {
  background: linear-gradient(rgba(43, 43, 43, 0.8), rgba(43, 43, 43, 0.8)), url("../assets/sublime_api.png");
  background-size: cover;
  background-position: center;
  flex: 1;
  padding: 1rem;
  transition: all .2s ease-in-out;
  text-transform: uppercase;
}
.st-left:hover, .st-right:hover {
  transform: scale(0.95);
  /*filter: hue-rotate(-90deg);*/
}
.st-container h1 {
  letter-spacing: 2px;
  font-family: 'Francois One', sans-serif;
  font-size: 3rem;
}

.st-button {
  border-radius: 2px;
  color: #fff;
  border: #fff solid 0.2rem;
  padding: 10px 6px;
  margin: 0 1%;
  text-align: center;
  font-family: 'Play', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.5s;
  width: 150px;
}
 
.st-button:hover {
  background: #fff;
  color: #333;
}

@media only screen and (max-width: 600px) {
  .st-container {
    flex-direction: column;
  }

}